

  #link:hover li {
    animation: fadeIn 0.5s ease-in;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .upDown {
    animation: fadeNav 0.5s ease-in ;
  }

  @keyframes fadeNav {
    from {
      opacity: 0;
      display: none;
      transform: translateY(-40px);
    }
    to {
      opacity: 1;
      
    }
  }

  .hide {
    animation: hidden 0.5s ease-in forwards ;
    display: none;
  }

  @keyframes hidden {
    from {
      opacity: 1;
      display: block;
    }
    to {
      opacity: 0;
      display: none;
      transform: translateY(-40px);
    }
  }


  .hiddenNav {
    animation: hiddenNavv 0.5s ease-in forwards ;
  }

  @keyframes hiddenNavv {
    from {
      opacity: 0;
      display: none;
      transform: translateY(-40px);
    }
    to {
      opacity: 1;
      display: block;
    }
  }