#mains:hover #hover {
    position: relative;
  }
  
  #mains:hover #hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: red;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
  }
  
  #mains:hover #hover:hover::after {
    transform: scaleX(1);
  }